:root {
  --main-bg-color: #3e4048;
  --main-nav-color: #223360;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--main-bg-color);
}

input {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: normal;
  line-height: 1.75;
  border-radius: 5px;
  border: 0px;
}

.tekst {
  font-size: 8pt;
  color: white;
}

#glemt {
  margin-left: 30px;
}

a {
  border-bottom: solid 1px white;
  color: white;
  text-decoration: none;
}
h1 {
  color: white;
  margin-left: 75px;
}

#login {
  background: #486af3;
  border: 1px solid #526cf5;
  color: aliceblue;
  padding: 0 5em;
}
#login:hover {
  cursor: pointer;
}

#sidebar {
  background: #37373a;
  height: 500px;
  position: fixed;
  width: 280px;
}

.wrapper {
  margin-left: 280px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  height: 300px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: 280px;
  width: 720px;
  text-align: center;
}

#navbar {
  background-color: var(--main-nav-color);
  opacity: 0.62;
  height: 500px;
  position: fixed;
  width: 280px;
  float: left;
}

.elements {
  width: 280px;
  height: auto;
  display: grid;
  align-content: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 20px 90px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #354f97;
  opacity: 1;
  color: white;
  cursor: pointer;
}

#header {
  height: 35px;
  width: auto;
  display: grid;
  align-content: center;
  background-color: var(--main-nav-color);
}

#profilBillede {
  height: 30px;
  width: 30px;
  margin-right: 50px;
  float: right;
}

#profilBillede:hover {
  cursor: pointer;
}

#Profil {
  float: right;
  width: auto;
  height: 700;
  margin-left: 280px;
}

#Favoriter {
  float: right;
  width: 600px;
}

#Ny {
  float: right;
  width: 600px;
}

#alle {
  float: right;
  width: 600px;
}

.content {
  display: flex;
  margin-left: -80px;
}

.left {
  border: 2px solid black;
  width: 350px;
  height: 500px;
}

.right {
  border: 2px solid black;
  width: 350px;
  height: 500px;
}

.modal {
  padding: 1em;
  max-width: 50ch;
  border-radius: 1em;
  background-color: var(--main-nav-color);

  & > * {
    margin: 0 0 0.5rem 0;
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.Modal_Open {
  float: left;
  padding: 5px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  background-color: #1b284b;
  margin-top: 2px;
  margin-left: 10px;
  border: 1px;
  border-radius: 2px;
}

.Modal_close {
  float: right;
  cursor: pointer;
  font-size: 1em;
}
