body {
  background: #3e4048;
}

input {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: normal;
  line-height: 1.75;
  border-radius: 5px;
  border: 0px;
}

.tekst {
  font-size: 8pt;
  color: white;
}

#glemt {
  margin-left: 30px;
}

a {
  border-bottom: solid 1px white;
  color: white;
  text-decoration: none;
}
h1 {
  color: white;
  margin-left: 75px;
}

#login {
  background: #486af3;
  border: 1px solid #526cf5;
  color: aliceblue;
  padding: 0 5em;
}

#sidebar {
  background: #37373a;
  height: 500px;
  position: fixed;
  width: 280px;
}

.wrapper {
  margin-left: 280px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  height: 300px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: 280px;
  width: 720px;
  text-align: center;
}

#navbar {
  background: #223360;
  opacity: 0.62;
  height: 500px;
  position: fixed;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: auto;
}

li a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #354f97;
  opacity: 1;
  color: white;
}
