body {
  background: #3e4048;
}

input {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: normal;
  line-height: 1.75;
  border-radius: 5px;
  border: 0px;
}

#tekst {
  font-size: 8pt;
  color: white;
}

a {
  -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  border-bottom: solid 1px white;
  color: white;
  text-decoration: none;
}
h1 {
  color: white;
  margin-left: 75px;
}

#login {
  background: #486af3;
  border: 1px solid #526cf5;
  color: aliceblue;
  padding: 0 5em;
}

#sidebar {
  background: #37373a;
  height: 100vh;
  position: fixed;
  width: 280px;
}

#sidebar + #wrapper {
  margin-left: 18em;
}
.wrapper {
  position: relative;
}
.wrapper > .inner {
  padding: 5em 5em 3em 5em;
}
