:root {
  --button-color: #234f95;
  --hover-color: #3168a5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr;
}

.navbar {
  background-color: #32373d;
  border: 1px solid #1c1f23;
  grid-column: 2 / 3;
  grid-row: 1/2;
}

.navbar .container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search input[type="text"] {
  padding: 10px 200px;
  border-radius: 25px;
  border: 1px solid #2a2e33;
  background-color: #2a2e33;
  color: #666;
  cursor: not-allowed;
  width: 100%;
  box-sizing: border-box;
}

.search input[type="text"]::placeholder {
  color: #999;
  text-align: center;
  font-size: 14px;
}

.search input[type="text"]:focus {
  outline: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}

#new-item-btn {
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#new-item-btn:hover {
  background-color: var(--hover-color);
}

.sidebar {
  background-color: #0e223e;
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  padding-left: 20px;
  padding-right: 20px;
  font-family: Arial, sans-serif;
  color: #fff;
}

/* .main {
    background-color: #ffff;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 500px 1fr;
}

.entries {
    display: grid;
    background-color: #ffff;
    border: 1px solid #1c1f23;
}

.entry {
    display: grid;
    background-color: #ffff;
    border: 1px solid #1c1f23;
} */

.main {
  display: flex;
  background-color: #32373d;
}

.entries {
  flex: 3.5;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  border: 1px solid #1c1f23;
  padding: 10px;
}

.entry {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}

.entry:hover {
  background-color: #1363be49;
}

.entry-website {
  font-size: 22px;
}

.entry-username {
  font-size: 16px;
  color: #99a8bb;
}

.entry-selected {
  background-color: var(--button-color) !important;
}

.entry-info {
  flex: 6.5;
  border: 1px solid #1c1f23;
  padding: 10px;
}

.sidebar .logo {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: large;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidebar .head {
  height: 40px;
  display: flex;
}

.user-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.user-info .name {
  font-size: calc(0.3rem + 1vw);
  font-weight: 400;
  margin: 0;
  overflow: hidden;
}

.user-info .email {
  font-size: calc(0.2rem + 0.5vw);
  font-weight: 500;
  color: #e4dfdf;
  text-transform: uppercase;
  margin: 0;
  overflow: hidden;
}

.menu {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #2b9bcf34;
}

.menu .title {
  font-size: 14px;
  font-weight: 500;
  color: #e0dede;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.menu ul li {
  list-style: none;
  margin-bottom: 5px;
}

.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}

.menu ul li:hover a {
  background-color: #518ec71c;
  cursor: pointer;
}

.menu ul li.active a {
  background-color: #518ec775;
}

.menu ul li .icon {
  font-size: 20px;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Items */
.item {
  padding: 10px;
  border-bottom: 1px solid #1c1f23;
  border-radius: 10px;
}

.item .item-website {
  font-size: 30px;
}

.item .item-email {
  font-size: 20px;
}


.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* This makes the container cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.modal {
  pointer-events: auto;
  width: 50%; /* Example width, adjust as needed */
  height: 70%; /* Example height, adjust as needed */
  margin: auto;
  padding: 1em;
  max-width: 50ch;
  border-radius: 1em;
  background-color: #0e223e;

  & > * {
    margin: 0 0 0.5rem 0;
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.modal .container p {
  display: inline-block;
  margin-top: 10px;
  color: white;
}

.modal .container form label {
  display: inline-block;
  margin-top: 10px;
  color: white;
}

.modal .container form input {
  border-radius: 5px;
  border: 0px;
  margin-top: 10px;
  width: 100%;
  padding: 5px;
}
.btn {
  background-color: var(--button-color);
  color: white;
  border: 0px;
  border-radius: 5px;
}
.btn:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.Modal_close {
  margin-top: 10px;
  background-color: var(--button-color);
  float: right;
  border: 0px;
  border-radius: 5px;
  color: white;
  width: 70px;
  height: 30px;
}

.Modal_close:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}


/* Entry gøj */

.entry-info-navbar{
  display: flex;
  margin: 10px;
  justify-content: flex-end;

}

.entry-info-navbar button {
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.entry-info-navbar button:hover {
  background-color: var(--hover-color);
}

.entry-info-navbar button + button {
  margin-left: 10px;
}

.entry-info{
  max-height: calc(100vh - 60px);
  overflow-y: auto;

}

.entry-header {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #fff
}

.entry-item {
  font-family: Arial,sans-serif;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.entry-item .title {
  font-size: 16px;
  font-weight: 500;
  color: #e0dede;
  text-transform: uppercase;
  margin-bottom: 5px;
  border-bottom: 2px solid #2b9bcf34;
}

.entry-item ul li {
  list-style: none;
  margin-bottom: 5px;
}

.entry-item ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
  border: 1px solid #1c1f23;
  max-width: 100%;
  overflow-x: auto;
}

.entry-item ul li:hover a {
  background-color: #518ec71c;
  cursor: pointer;
}

.entry-item ul li.active a {
  background-color: #518ec775;
}

.entry-item  ul li .icon {
  font-size: 20px;
}

.decrypt-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.decrypt-entry input[type="password"] {
  /*padding: 10px 200px;*/
  /* make it bigger but do not use padding */
  height: 40px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid #2a2e33;
  background-color: #2a2e33;
  color: #666;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.decrypt-entry input[type="password"]::placeholder {
  color: #999;
  text-align: flex-start;
  font-size: 14px;
}

.decrypt-entry input[type="password"]:focus {
  outline: none;
}

.decrypt-entry button {
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.decrypt-entry button:hover {
  background-color: var(--hover-color);
}


.hidden {
  display: none;
}

