:root {
  --main-bg-color: #2d2f34;
  --main-nav-color: #0e223e;
  --text-color: #dddddd;
}

body {
  background: var(--main-bg-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--main-nav-color);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(124, 124, 124, 0.258);
  width: 300px;
}

.container h2 {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  color: var(--text-color);
  margin-bottom: 5px;
}

.input-group input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: #ff0000;
  text-align: center;
  margin-bottom: 10px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0061c8;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #014691;
}

.signup-link {
  color: var(--text-color);
  text-align: center;
}

.signup-link a {
  color: #0166d1;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
