<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="stylesheets/home.css">
    <title>OnePass - Home</title>
    <script>
        function logout() {
            fetch('/logout', { method: 'POST', redirect: 'follow'})
            .then(response => {
                window.location.href = response.redirected ? response.url : '/';
            });
        }

    </script>
</head>
<body>
    <header class="navbar">
        <div class="container">
            <div class="search">
                <input type="text" placeholder="Search for logins (not yet implemented)" disabled>
            </div>

            <div class="buttons">
                <button id="new-item-btn">
                    <i class="ph ph-plus"></i> New Entry
                </button>
            </div>
            
        </div>
    </header>

    <section class="sidebar">
        <div class="logo">
                <span class="logo-text">OnePass</span>
        </div>

        <div class="head">
            <div class="user-info">
                <p class="name"></p>
                <p class="email"></p>
            </div>
        </div>
        <div class="nav">
            <div class="menu">
                <p class="title">Main</p>
                <ul>
                    <li class="active">
                        <a href="home">
                            <i class="ph ph-key"></i>
                            <span class = "text">All Entries</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <p class="title">Vaults</p>
                <ul class="vault-list">
                    <!-- Her tilføjes vaults dynamisk -->
                </ul>
            </div>
        </div>
        <div class="menu">
            <p class="title">Account</p>
            <ul>
                <li>
                    <a onclick="logout()">
                        <i class="ph ph-sign-out"></i>
                        <span class = "text">Logout</span>
                    </a>
                </li>
                
            </ul>
        </div>
    </section>


    <main class="main">
        <div class="entries">
            <!-- Entries her -->
        </div>
        <div class="entry-info">
            <div class="entry-info-container">
                <div class = "entry-info-navbar">
                    <button id="edit-entry-btn" disabled>
                        <i class="ph ph-pencil"></i> Edit
                    </button>
                    <button id="delete-entry-btn">
                        <i class="ph ph-trash"></i> Delete
                    </button>
                </div>

                <div class="entry-header">
                    <h1 class="entry-title" id="entry-title">Title</h1>
                </div>

                <div class="entry-info-content">
                    <div class="entry-item">
                        <p class="title">Username</p>
                        <ul>
                            <li>
                                <a>
                                    <i class="ph ph-user"></i>
                                    <span class = "text" id="entry-username">Coom</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="entry-item">
                        <p class="title">Password</p>
                        <ul>
                            <li>
                                <a>
                                    <i class="ph ph-key"></i>
                                    <span class = "text" id="entry-password">••••••••••</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="entry-item">
                        <p class="title">Website</p>
                        <ul>
                            <li>
                                <a>
                                    <i class="ph ph-globe"></i>
                                    <span class = "text" id="entry-website">Coom</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="decrypt-entry">
                        <input type="password" id="masterpassword" placeholder="Enter your master password to decrypt this entry">
                        <button id="decrypt-entry-btn">
                            <i class="ph ph-lock-open"></i> Decrypt
                        </button>
                    </div>
                </div>
            </div> 
        </div>
    </main>
    

    <script src="scripts/home.js"></script>
</body>
</html>